<div class="view-project">
            <label><%= label %>:<pr><%= project %></pr></label><br><br>
            <span><%= task %>  <input type="text" placeholder="<%= placeholderProj %>" >
            <%= done %> </span><input type="checkbox" >
            <div class="img" id="destroy"></div><br>
        </div>