<div class='background'></div>
<label>
	<%= label %>:<pr><%= project %></pr>
</label><div class="img" name="deleteProject"></div>
<br><br>
<span><%= task %>  <input type="text" placeholder="<%= placeholderProj %>" >
<%= done %> </span>
<input type="checkbox" > 
